<div id='r-subnav'>
  <ul>
    <li class='active'><a href=/responsive><span>Meet All 44 Presidents</span></a></li>
    <li class='active'><a href='/responsive'><span>Home</span></a></li>
    <li><a href='/r-all'><span>All Play</span></a></li>
    <li><a href='/r-team1'><span>Join Team #1</span></a></li>
    <li><a href='/r-team2'><span>Join Team #2</span></a></li>
    <li class='last dropdown'>
      <a href='/reset'><span>Reset</span></a>
      <ul class="dropdown-menu">
        <li><a id="new-all-play-game" href="/reset-all">reset all play</a></li>
        <li><a id="new-team1-game" href="/reset-1">reset team #1</a></li>
        <li><a id="new-team2-game" href="/reset-2">reset team #2</a></li>
      </ul>
    </li>
    <div id="sign-in-name">Not Signed In</div>
  </ul>
</div>
